<?xml version="1.0" encoding="UTF-8"?>
<web-app >	
 <display-name>TestTomcat</display-name> 
	<servlet> 
		<servlet-name>Message</servlet-name> 
		<servlet-class>servlets.Messages</servlet-class> 
	</servlet>
	
	<servlet>
		<servlet-name>Amis</servlet-name>
		<servlet-class>servlets.Amis</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Authentification</servlet-name>
		<servlet-class>servlets.Authentification</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>servlets.User</servlet-class>
	</servlet>
	
	<servlet-mapping> 
		<servlet-name>Message</servlet-name> 
		<url-pattern>/Message1</url-pattern> 
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>Amis</servlet-name>
		<url-pattern>/Amis1</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Authentification</servlet-name>
		<url-pattern>/Authentification1</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/User1</url-pattern>
	</servlet-mapping>
	
	
	
	
 	
</web-app>